name: Build Docker & Run Tests

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build Docker image
      run: docker build -t inference-model-git .

    - name: Run tests inside Docker
      run: |
        docker run --rm my-inference-model-git pytest tests_git_action/
      # Or if no tests yet, you can run a simple inference script to validate
